div.head 
    div.socials
      svg.icon(width='31', height='17').icon
        use(xlink:href='assets/images/sprite.svg#vk')
      svg.icon(width='26', height='22').icon
        use(xlink:href='assets/images/sprite.svg#git')
      svg.icon(width='26', height='22').icon
        use(xlink:href='assets/images/sprite.svg#in')
.toggleBtn(onclick="toggleMenu(this)")
    span.bg__element 
    span.bg__element 
    span.bg__element 

