.menu__container {
    background-color: transparent;
    position: relative;
    width: 60px;
    height: 100vh;
    float: right;
    transition: width .3s;
    z-index: 99;
}

.container.open {
    width: 100vw;
}

.closeburger {
    position: absolute;
    top: 20px;
    left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.middleburger,
.closeburger:before,
.closeburger:after {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #eee;
    border-radius: 1px;
}

.middleburger {
    top: 50%;
    margin-top: -2px;
    transition: transform ease (500ms);
}

.closeburger:before {
    content: '';
    top: 5px;
    transition: top 500ms ease 500ms, transform 500ms ease;
}

.closeburger:after {
    content: '';
    bottom: 6px;
    transition: bottom 500ms ease 500ms, transform 500ms ease;
}

.open .closeburger .middleburger {
    transform: rotate(225deg);
    transition: transform 500ms ease 500ms;
}

.open .closeburger:before {
    top: 13px;
    transform: rotate(225deg);
    transition: top 500ms ease, transform 500ms ease 500ms;
}

.open .closeburger:after {
    bottom: 14px;
    transform: rotate(-225deg);
    transition: bottom 500ms ease, transform 500ms ease 500ms;
}